
<blockquote class="blockquote">
  <p class="mb-3"><%= @question %></p>
  <footer class="blockquote-footer">You</footer>
</blockquote>

<blockquote class="blockquote coach">
  <p class="mb-4"><%= @answer %></p>
  <footer class="blockquote-footer"><cite>Your Coach</cite></footer>
</blockquote>


<%= link_to "Ask a new question", ask_path %>
