<form action="/answer" data-turbo="false">
<p>Ask your coach anything:</p>
<div class="input-group mb-3">
  <input type="text" name="question" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Ask!</button>
  </div>
</div>
</form>
